<script setup>

    //import ref and onMounted
    import { ref, onMounted } from 'vue';

    //import api
    import api from '../api';

		//import datatable
		import DataTable from 'datatables.net-vue3';
		import DataTablesCore from 'datatables.net-bs5';

    //define state
    const products = ref([]);

    //method fetchDataProduct
    const fetchDataProduct = async () => {

        //fetch data 
        await api.get('/api/product/getData')

        .then(response => {

            //set response data to state "products"
            products.value = response.data.data.data

						console.log(products)

        });
    }

		DataTable.use(DataTablesCore);

		const columns = [
			// { data: 'DT_RowIndex', name: 'id', orderable: false, searchable: false, title: '#' },
			{ data: 'title', name: 'title', title: 'Nama' },
			{ data: 'description', name: 'description', title: 'Detail' },
			{ data: 'image', name: 'image', title: 'Image',
				render: function(data, type, row) {
					const src = window.location.origin + "/storage/posts/" + row.image
					var strHTML = `<img src="${src}" width="200" class="rounded-3"/>`

					return strHTML
                    }
			},
			{ data: 'id', name: 'action', title: 'Aksi', orderable: false, searchable: false,
				render: function(data, type, row) {
					const btn = `
						<div class="d-flex">
                          <button @click.prevent="deletePost(post.id)" class="btn btn-danger btn-sm delete-data" data-id="${row.id}" type="button"><i class="bi bi-trash"></i></button>
                        </div>`

					return btn
				} },
		];
		
		const options = {
			processing: true,
      // serverSide: true,
			ajax: "/api/product/getData",
			lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
			language: {
            lengthMenu: "_MENU_ Data per halaman",
            //zeroRecords: "Data tidak ditemukan",
            info: "Menampilkan halaman _PAGE_ dari _PAGES_",
            //infoEmpty: "Data kosong",
            infoFiltered: "(filter dari _MAX_ total data)",
            search: "Cari :",
    
            oPaginate: {
                sNext: '<i class="bi bi-arrow-right-short"></i>',
                sPrevious: '<i class="bi bi-arrow-left-short"></i>',
                sFirst: 'Pertama',
                sLast: 'Terakhir'
            },
        },
			columnDefs: [
        {
            searchable: false,
            orderable: false,
            targets: 0
        }
    	],
    	order: [[1, 'asc']],
			dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-12'i><'col-12'<'d-flex justify-content-center'p>>>",
		};

		const filter = '';

    //run hook "onMounted"
    onMounted(() => {

        //call method "fetchDataProduct"
        fetchDataProduct();
    });

	//method deletePost
    const deletePost = async (id) => {

		//delete post with API
		await api.delete(`/api/products/${id}`)
		.then(() => {

			//call method "fetchDataPosts"
			fetchDataPosts();
		})

	};

</script>

<template>
	<div class="pagetitle">
			<h1>Produk</h1>
			<nav>
					<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active">Persediaan Produk</li>
					</ol>
			</nav>
	</div><!-- End Page Title -->

	<section class="section">
		<div class="row">
				<div class="col d-flex justify-content-end p-2">
						<router-link :to="{ name: 'products.create' }" class="btn btn-primary" id="add-produk">
								<i class="bi bi-plus-square me-1"></i>
								Tambah produk
						</router-link>
				</div>
		</div>

		<div class="row">
			<div class="col">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Produk</h5>

						<!-- Default Table -->
						<!-- <table class="table table-striped" id="datatable-produk">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nama Produk</th>
									<th scope="col">Detail</th>
									<th scope="col">Aksi</th>
								</tr>
							</thead> -->
							<!-- <tbody>
									<tr v-if="products.length == 0">
											<td colspan="4" class="text-center">
													<div class="alert alert-danger mb-0">
															Data Belum Tersedia!
													</div>
											</td>
									</tr>
									<tr v-else v-for="(product, index) in products" :key="index">
											<td>{{ product.id }}</td>
											<td>{{ product.title }}</td>
											<td>{{ product.description }}</td>
											<td class="text-center">
													<router-link :to="{ name: 'products.edit', params:{id: product.id} }" class="btn btn-sm btn-primary rounded-sm shadow border-0 me-2">EDIT</router-link>
													<button class="btn btn-sm btn-danger rounded-sm shadow border-0">DELETE</button>
											</td>
									</tr>
							</tbody> -->
						<!-- </table> -->
						<!-- End Default Table Example -->

						<DataTable :columns="columns" :options="options" :filter="filter" class="table display"></DataTable>

						<!-- <DataTable :value="products" paginator :rows="5" :rowsPerPageOptions="[5, 10, 20, 50]" tableStyle="min-width: 50rem"
										paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
										currentPageReportTemplate="{first} to {last} of {totalRecords}">
								<template #paginatorstart>
										<Button type="button" icon="pi pi-refresh" text />
								</template>
								<template #paginatorend>
										<Button type="button" icon="pi pi-download" text />
								</template>
								<Column field="title" header="Name" style="width: 25%"></Column>
								<Column field="description" header="Detail" style="width: 25%"></Column>
								<Column field="representative.name" header="Representative" style="width: 25%"></Column>
						</DataTable> -->
					</div>
				</div>

			</div>
		</div>
	</section>
</template>