<script setup>
    //import ref
    import { ref, onMounted } from "vue";

    //import router
    import { useRouter, useRoute } from 'vue-router';

    //import api
    import api from "../api";

    //init router
    const router = useRouter();

    //init route
    const route = useRoute();
    
    //define state
    const image = ref("");
    const title = ref("");
    const description = ref("");
    const errors = ref([]);

    //onMounted
    onMounted( async () => {

        //fetch detail data post by ID
        await api.get(`/api/products/${route.params.id}`)
        .then(response => {
            
            //set response data to state
            title.value = response.data.data.title
            description.value = response.data.data.description
        });
    })

    //method for handle file changes
    const handleFileChange = (e) => {
        //assign file to state
        image.value = e.target.files[0];
    };

    //method "updatePost"
    const updatePost = async () => {

        //init formData
        let formData = new FormData();

        //assign state value to formData
        formData.append("image", image.value);
        formData.append("title", title.value);
        formData.append("description", description.value);
        formData.append("_method", "PATCH");

        //store data with API
        await api.post(`/api/products/${route.params.id}`, formData)
        .then(() => {
            //redirect
            router.push({ path: "/product" });
        })
        .catch((error) => {
            //assign response error data to state "errors"
            errors.value = error.response.data;
        });
    };
</script>

<template>
	<div class="pagetitle">
		<h1>Produk</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="">Home</a></li>
				<li class="breadcrumb-item active">Tambah Produk</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->

	<section class="section">
		<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Edit Produk</h5>

							<form @submit.prevent="updatePost()">
									<div class="form-group mb-3">
											<label>Image</label>
											<input type="file" :class="[errors.image ? errorClass : '', formControl]" @change="handleFileChange($event)">
											<div v-if="errors.image" class="invalid-feedback">
												<span>{{ errors.image[0] }}</span>
											</div>
									</div>
									<div class="form-group mb-3">
											<label>Name</label>
											<input type="text" :class="[errors.description ? errorClass : '', formControl]" v-model="title">
											<div v-if="errors.title" class="invalid-feedback">
												<span>{{ errors.title[0] }}</span>
											</div>
									</div>
									<div class="form-group mb-3">
											<label>Detail</label>
											<input type="text" :class="[errors.description ? errorClass : '', formControl]" v-model="description">
											<div v-if="errors.description" class="invalid-feedback">
												<span>{{ errors.description[0] }}</span>
											</div>
									</div>
									<div class="d-flex justify-content-end">
										<button type="submit" class="btn btn-primary me-3">Simpan</button>
										<router-link :to="{ name: 'products.index' }" class="btn btn-secondary">Kembali</router-link>
									</div>
							</form>
						</div>
					</div>
				</div>
		</div>
	</section>
</template>